<!DOCTYPE html>
<html>
<head>
    <title>Traffic Sign Recognizer</title>    
</head>
<body>
    <h1 class="text-center">Traffic Sign Recognizer</h1>
    
    <form class="p-3 text-center" action='/', method='post' enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile">
        <input class="btn btn-primary mt-3" type="submit" value="Predict Image">
    </form>
    
    {% if prediction %}
<img src="{{img_path}}" height="200px" width="200px">
        <h2> Predicted Sign: <i> {{ prediction }} </i></h2>
    {% endif %}

</body>
</html>